<h1>Home</h1>

<% if notice %>
    <p class="notice"><%= notice %></p>
<% elsif alert %>
    <p class="alert"><%= alert %></p>
<% end %>

<% if current_user %>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %>
<% end %>
