body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-family: Helvetica, sans-serif;
}

@font-face {
    font-family: myFont;
    src: url('/assets/instagram_font.otf');
}

.login_container {
    height: 80%;
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;

    p {
        margin: 0;
    }

    .image {
        background: url("/assets/phone.jpg");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .block0 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        text-align: center;

        .block1 {
            padding: 0 40px 15px 40px;
            border: 1px solid #d3d3d3;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: center;

            form {
                width: 100%;
                display: flex;
                flex-direction: column;

                h1 {
                    margin: 40px 0 40px 0;
                    font-family: myFont;
                    font-weight: 100;
                    font-size: 2.8rem;
                }

                input {
                    margin-bottom: 15px;
                    border: 1px solid #d3d3d3;
                    border-radius: 8px;
                    padding: 10px;
                    background: #fafafa;
                    outline: none;
                }

                input:focus {
                    border: 1px solid grey;
                }

                button {
                    cursor: pointer;
                    border: none;
                    outline: none;
                    padding: 10px;
                    border-radius: 8px;
                    background: #0095f6;
                    color: #fff;
                    font-weight: bold;
                }

                button:hover {
                    background: #385185;
                }

                button:active {
                    background: #0095f6;
                }
            }

            .or {
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: small;

                hr {
                    width: 122px;
                    height: 1px;
                    border: none;
                    background: #d3d3d3;
                }
            }

            a {
                text-decoration: none;
                color: #385185;
            }

            .fb_login {
                font-weight: bold;

                img {
                    height: 1rem;
                }
            }

            .pass {
                font-size: small;
            }
        }

        .block2 {
            border: 1px solid #d3d3d3;
            border-radius: 8px;
            padding: 15px;

            a {
                color: #0095f6;
                font-weight: bold;
                text-decoration: none;
            }
        }

        .block3 {
            display: flex;
            padding: 0 30px 0 30px;
            gap: 10px;

            .playstore {
                height: 50px;
                width: 100%;
                background: url("/assets/playstore.png");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }

            .appstore {
                height: 50px;
                width: 100%;
                background: url("/assets/apple_store.png");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
}
